.button {
  cursor: pointer;
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  background: var(--stp-background);
  color: var(--stp-foreground);
  vertical-align: top;
  transition: 0.3s;

  .icon,
  .text {
    vertical-align: middle;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
  }

  .icon {
    padding-top: 0.2em;
  }

  .text:not(:empty) {
    padding-left: 0.25em;
  }

  .icon svg {
    width: 1.5em;
  }

  &:hover {
    background: var(--stp-background-reverse);
    color: var(--stp-foreground-reverse);
    box-shadow: var(--stp-background-reverse-alpha_tertiary) 0px 10px 15px -3px,
      var(--stp-background-reverse-alpha_quaternary) 0px 4px 6px -2px;
  }
}
