.button {
  cursor: pointer;
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  background: var(--stp-background);
  color: var(--stp-foreground);
  vertical-align: top;
  transition: all 0.1s ease-out;

  .icon,
  .text {
    vertical-align: middle;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
  }

  .icon {
    padding-top: 0.2em;
  }

  .text:not(:empty) {
    padding-left: 0.25em;
  }

  .icon svg {
    width: 1.5em;
  }

  &:hover {
    background: var(--stp-background-reverse-a4);
  }
}
