.card {
  cursor: pointer;
  border: 2px solid var(--stp-background-reverse-a2);
  border-radius: 0.25em;
  padding: 1em;
  transition: all 0.15s ease-out;

  &:hover {
    box-shadow: var(--stp-background-reverse-a3) 2px 2px 4px 1px;
  }

  &.selected {
    background: var(--stp-selected);
  }
}
